<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>com.example.rest.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SplServlet</servlet-name>
        <servlet-class>com.example.rest.SplServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SplServlet</servlet-name>
        <url-pattern>/spl</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ErdServlet</servlet-name>
        <servlet-class>com.example.rest.ErdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErdServlet</servlet-name>
        <url-pattern>/erd</url-pattern>
    </servlet-mapping>
</web-app>
